ssh-url=user@domain.com
email=botname@nanobot
openrouter_api=sk-or-v1-xxxxxxx
telegram_bot_id=xxx_xxx_bot
telegram_bot_token=tokenXXXXXX
nanobot-repo=https://github.com/tycoi2005/nanobot
nanobot-remote-dir=~/.nanobot/workspace/nanobot
nanobot-venv=/root/.pyenv/nanobot
nanobot-service=nanobot-gateway
